@font-face {
    font-family: jazeera;
    src: url(https://www.fontstatic.com/fonts/jazeera/jazeera.eot?#iefix);
    src: local(�������),local(jazeera),url(https://www.fontstatic.com/fonts/jazeera/jazeera.woff) format("woff")
}

@font-face {
    font-family: jazeera-light;
    src: url(https://www.fontstatic.com/fonts/jazeera-light/jazeera-light.eot?#iefix);
    src: local('������� ����'),local(jazeera-light),url(https://www.fontstatic.com/fonts/jazeera-light/jazeera-light.woff) format("woff")
}


label.ae.label.label-primary {
    background-image: radial-gradient(circle,#9e9e9e,#a5a5a5,#d4d4d4)!important;
}


div#d0 {
    background-image: radial-gradient(circle,#9e9e9e,#a5a5a5,#d4d4d4)!important;
}


.light {
    background-color: #f9f9f9;
}


body.bg {
    background-color: rgb(255 255 255)!important
}

div#tlogins .hand.nosel.fl.uzr.border {
    width: 99%!important;
    margin-top: 2px!important;
    border: 1px!important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 -3px 1px -2px rgba(0,0,0,.2)!important;
    border-radius: 3px!important
}

button.fa.fa-sign-out.fl.btn.btn-primary {
    padding: 5px
}

button.fa.fa-send.fl.btn.btn-primary {
    padding: 4px
}

button.fr.fa.fa-share-alt.sndfile.fl.btn.btn-primary {
    padding: 5px
}

button.fr.fa.fa-share-alt.sndfilebc.fl.btn.btn-primary {
    padding: 5px
}

.fl.mini.u-msg {
    margin-top: -2px!important;
    text-align: center
}

label.fl.label.loginstat {
    float: left!important;
    border-radius: 3px!important;
    position: absolute;
    left: 0;
    padding: 3px 8px 2px 8px!important;
    margin-top: -167px!important;
    font-size: 14px!important;
    margin-left: 5px!important;
}

div#tlogins {
    box-shadow: inset 0 10px 10px rgb(0 0 0 / 8%),0 0 20px #777;
    border: 2px solid#ffffff
}

.bgg.border.corner {
    border-bottom-right-radius: 0!important
}

iframe#asim30 {
    height: 66px;
    float: left;
    border-bottom: 3px solid #e5032f;
    background-color: #fff;
    margin-top: -6px;
    background-size: contain
}

div#asim1 {
    text-align: center;
    border-radius: 0 0 7px 7px;
    width: 100%;
    position: absolute;
    top: 173px;
    right: 0
}

a#asim2 {
    font-size: 14px!important;
    width: 25%!important;
    border: 1px solid #f0ad4e;
    margin-right: 5px;
    float: right;
    margin-top: -2px;
    padding: 1px!important;
    height: 24px!important;
    color: #fff!important;
    background-color: #43a2a1!important;
    margin-left: -8px
}

a#des333 {
    font-size: 14px!important;
    width: 25%!important;
    border: 1px solid #f0ad4e;
    margin-right: 5px;
    float: right;
    margin-top: -3px;
    padding: 1px!important;
    height: 23px!important;
    color: #fff!important;
    background-color: #43a2a1!important;
    margin-left: -8px
}

div#asim30 {
    background-image: linear-gradient(to bottom,#f1f3f4 0,#f1f3f4 100%);
    text-align: center;
    color: #118284;
    margin: -27px 0 -20px
}

div#asim31 {
    width: 100%;
    background-color: #13b6b9!important;
    border-radius: 3px;
    border-left: 1px solid #5290ac;
    border-top: 1px solid #5290ac;
    border-right: 1px solid #376b87;
    border-bottom: 1px solid #376b87;
    margin: 1px 0 3px;
    height: 27px;
    padding: 0
}

a#as0 {
    text-decoration: none;
    margin-right: 6px;
    float: right;
    border-radius: 3px;
    border-color: #e6e6fa;
    padding: 6px;
    margin-top: 2px;
    color: red;
    width: 106px;
    text-align: center;
    font: normal normal normal 14px/1 FontAwesome
}

iframe#asim29 {
    height: 68px;
    position: absolute;
    top: 27px;
    right: -14px
}

a#asim33 {
    width: 100px;
    background-color: #13b6b9!important;
    border-radius: 3px;
    border-left: 1px solid #5290ac;
    border-top: 1px solid #5290ac;
    border-right: 1px solid #376b87;
    border-bottom: 1px solid #376b87;
    margin: 0 0 2px;
    text-align: center;
    color: #fff;
    height: 27px;
    padding: 1px;
    font-size: 14px!important
}

input[type=asim] {
    width: 182px;
    margin-left: 1px;
    border-radius: 3px;
    text-align: center
}

button.btn.btn-primary.hand.borderg.corner.fa.fa-ban {
    width: 77px;
    border-radius: 6px;
    height: 27px;
    background-repeat: repeat-x;
    border-color: #b92c28;
    background-image: linear-gradient(to bottom,#d9534f 0,#c12e2a 100%);
    background-color: #c12e2a!important
}

a.btn.minix.fa.fa-comment.fr {
    color: #fff!important;
    border-radius: 4px;
    padding: 1px 4px 2px 5px;
    margin-top: 6px;
    background-repeat: repeat-x;
    border-color: #28a4c9;
    background-image: linear-gradient(to bottom,#434343 0,#434343 100%)
}

a.btn.minix.fa.fa-thumbs-up.fr {
    color: #fff!important;
    border-radius: 4px;
    padding: 1px 4px 2px 5px;
    margin-top: 6px;
    background-repeat: repeat-x;
    border-color: #b92c28;
    background-image: linear-gradient(to bottom,#d9534f 0,#c12e2a 100%);
    margin-left: 3px
}

label.label.fr.label-primary {
    border-radius: 3px!important;
    height: 28px!important;
    width: 14%!important;
    padding: 9px 0!important;
    font-size: 13px!important
}

.uzr.fl.corner.borderg.mm {
    margin-bottom: 0!important
}

.hand.nosel.fl.uzr.border {
    border-style: dotted double!important
}

label.label.label-primary.mini.fl {
    width: 50%!important;
    height: 21px;
    color: #fff;
    border: none!important;
    padding: 1px 15px 0 0;
    border-radius: 0 0 0 1px!important;
    font-family: jazeera,FontAwesome;
    font-size: 11px!important;
    position: absolute;
    margin-top: 273px;
    margin-left: -5px;
    border-radius: 0 0 30px 30px!important;
    border-bottom: 0 solid#fff!important;
    border-right: .5px solid#fff!important;
    border-left: .5px solid#fff!important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 -3px 1px -2px rgba(0,0,0,.2)!important;
    background-image: radial-gradient(circle,#9e9e9e,#a5a5a5,#d4d4d4)!important;
}

div#tlogins img.fitimg.fl.u-pic {
    border-radius: 5px;
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 43%);
    border: 1px solid #6f6f6f
}

.lonline.light.break {
    outline: #fff0 solid 1px!important;
    background-color: #ffffff12!important;
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 75%,transparent 75%,transparent)!important
}

span.s1.fa.fa-user.label.badgex.label-as-badge.label-success {
    font-size: 12px!important;
    background-color: #d01b1b00;
    color: #fff
}

button.btn.btn-default {
    color: #fff!important;
    border-radius: 15px;
    padding: 0 5px;
    margin-top: 6px;
    background-image: linear-gradient(to bottom,#5cb85c 0,#419641 100%)!important;
    border: #ccc solid 1px!important
}

.nav-tabs {
    border-bottom: 0 solid #f0ad4e!important
}

ul.nav.nav-tabs>li>a {
    background-image: radial-gradient(circle,#9e9e9e,#a5a5a5,#d4d4d4)!important;
    margin: 0 0 0 13px;
    color: #fff;
    border: 0;
    background-color: #1f1f1f;
    border-radius: 7px;
    display: initial;
    width: 98%;
    float: left;
    padding: 2px 0 0!important;
    text-align: center;
    border-style: solid;
    border-right: 5px solid;
    border-color: #5e635c;
    border-left-style: initial;
    height: 28px;
    border-right-style: dotted;
    font-family: jazeera,FontAwesome;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 -3px 1px -2px rgba(0,0,0,.2)!important
}

ul.nav.nav-tabs>li.active>a {
    color: #fff;
    background-image: radial-gradient(circle,#9e9e9e,#a5a5a5,#d4d4d4)!important;
    background-color: #1f1f1f;
    border: 0;
    border-radius: 7px;
    text-align: center;
    border-style: solid;
    border-right: 5px solid;
    border-color: #fff;
    border-right-style: dotted
}

ul.nav.nav-tabs>li {
    width: 38%;
    margin: -1px 59px 6px -13px
}

ul.nav.nav-tabs>li>.fa-user-plus:before,ul.nav.nav-tabs>li>.fa-user:before,ul.nav.nav-tabs>li>.fa-user:before {
    float: left;
    margin-left: 1px;
    border-radius: 0;
    width: 25px;
    text-align: center;
    background-color: #fff0;
    color: #fff;
    height: 31px;
    padding: 4px 0 0!important;
    margin-top: -4px;
    border-right-style: double!important;
    border-right: 2px solid #fff!important
}

label.ae.fa.label.fa-users.btnClAlGr.label-warning {
    margin-left: -3px!important
}

label.ae.fa.label.fa-users.btnClAlGr.label-warning,label.ae.fa.label.fa-users.btnClAlGr.label-primary {
    padding: 7px 5px 5px 13px
}

ul.nav.nav-tabs {
    border-bottom: 1px #5e635c solid!important;
    float: right;
    padding: 10px 6px 2px 1px;
    border-radius: 0;
    margin-top: 0;
    border-left: 2.9px solid #5e635c;
    border-right: 2.9px solid #5e635c;
    background-image: -webkit-linear-gradient(160deg,#f9f9f9 25%,#434343 25%,#d4d4d4 50%,#5e635c 50%,#d4d4d4 75%,#d4d4d4 75%,#f9f9f9)!important;
    background: #ebebeb;
    border-top: 1px #5e635c solid;
    border-radius: 5%;
    border-style: dashed
}

.checkbox {
    position: absolute;
    margin-left: 165px!important;
    margin-top: -1%!important;
    display: inherit!important
}

div#l1 {
    height: 84px
}

a#asim7 {
    font-size: 14px!important;
    width: 54px!important;
    border: 1px solid #f7d322;
    margin-right: 0;
    float: right;
    padding: 5px 0 0 20px;
    height: 25px!important;
    color: #fff!important;
    margin-left: -6px;
    border-radius: 0;
    background-repeat: repeat;
    border-bottom: 0 solid#e1e1e1
}

div#tlogins button.btn.btn-primary {
    top: 67px;
    width: 43%;
    right: 69px;
    height: 28px;
    padding: 0 0 3px;
    border-radius: 10%!important;
    position: inherit;
    border-color: #fff;
    font-family: jazeera,FontAwesome;
    background-image: radial-gradient(circle,#9e9e9e,#a5a5a5,#d4d4d4)!important
}

label.asim.ae.fa.label.label-primary {
    padding: 7px 10px 5px;
    margin-left: -4px!important;
    border-radius: 0 3px 3px 0;
    border-style: solid;
    border-right: 4px solid;
    border-right-style: ridge
}

.ae.fa.label.label-primary.fa-user {
    padding: 7px 12px 5px 9px;
    border-radius: 3px 0 0 3px
}

.tbox {
    padding: 3px;
    min-height: 28px!important;
    border-right: 5px solid;
    border-left: 5px solid;
    border-color: #d2d2d2;
    border-left-style: groove;
    border-right-style: ridge;
    border-radius: 3px!important
}

@media only screen and (max-width: 399px) and (min-width:200px) {
    input#u1,input#u2,input#pass1,input#u3,input#pass2 {
        width:90%
    }

    a#asim7 {
        width: 50px!important
    }

    ul.nav.nav-tabs {
        margin-top: 4px;
        border-top: 2px solid #f7d322
    }
}

button.fr.fa.fa-share-alt.sndfile.fl.btn.btn-primary {
    width: 30px
}

a#asim7 {
    font-size: 14px!important;
    width: 54px!important;
    border: 1px solid #f7d322;
    margin-right: 0;
    float: right;
    padding: 3px 0 0 20px;
    height: 23px!important;
    color: #fff!important;
    margin-left: -6px;
    border-radius: 0;
    background-repeat: repeat;
    border-bottom: 0 solid#e1e1e1
}

div#l2,div#l3,div#l1,ul.nav.nav-tabs.fl.li.a,#as43 {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2)!important
}

div#tlogins .fade {
    opacity: 1!important;
    -webkit-transition: none!important;
    -o-transition: none!important;
    transition: none!important;
    width: 61%!important;
    position: absolute;
    margin: 180px 0 0 147px!important;
    height: 93px;
    border-radius: 10px 10px 20px;
    background-color: #cecece;
    background-image: -webkit-linear-gradient(332deg,rgb(166 206 214/0%) 25%,transparent 25%,#2b879900 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 75%,transparent 75%,transparent)!important;
}

input#u1,input#u2,input#pass1,input#u3,input#pass2 {
    margin: 0 0 5px -5.5px!important;
    width: 97%;
    height: 28px;
    border: 1px solid #94adc1;
    border-radius: 0;
    text-align: center;
    border-style: solid;
    border-right: 7px solid;
    border-left: 7px solid;
    border-color: #5e635c;
    border-top: 1px solid#5e635c!important;
    border-bottom: 1px solid#5e635c!important;
    padding: 0!important;
    margin-left: 4px!important;
    border-radius: 7px;
    margin-top: -3px!important;
    border-width: medium
}

#des444 {
    text-decoration: dotted;
    color: #fff;
    margin-top: -23px!important;
    margin-left: -10px!important;
    display: inline-block;
    float: right;
    margin-right: 1.5px!important;
    border-bottom: 0 solid#fff!important;
    border-right: .5px solid#fff!important;
    border-top: .5px solid#fff!important;
    border-left: .5px solid#fff!important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 -3px 1px -2px rgba(0,0,0,.2)!important
}


#des0 {
	background-image: radial-gradient(circle,#9e9e9e,#a5a5a5,#d4d4d4)!important;
}


.btn-des {
    font-family: jazeera,FontAwesome;
    font-size: 13px!important;
    text-align: center!important;
    color: #fff!important;
    background-image: radial-gradient(circle,#9e9e9e,#a5a5a5,#d4d4d4)!important
}

#des555 {
    text-decoration: dotted;
    margin-top: -2px!important;
    margin-left: 2px!important;
    margin-right: 1.5px!important;
    display: inline-block;
    float: right;
    border: .5px solid!important;
    border-top: .5px solid#428b98!important;
    border-radius: 0 0 70px 70px;
    position: absolute;
    margin-top: 102px!important;
    margin-left: 34px!important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 -3px 1px -2px rgba(0,0,0,.2)!important
}

#des222 {
    text-decoration: dotted;
    color: #fff;
    margin-top: 3.7px!important;
    margin-left: 2px!important;
    display: inline-block;
    float: right;
    margin-right: 1.5px!important;
    border-right: .5px solid#fff!important;
    border-top: .5px solid#fff!important;
    border-left: .5px solid#fff!important;
    border-radius: 80px 80px 0 0;
    position: absolute;
    margin-top: -11px!important;
    margin-left: 33px!important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 -3px 1px -2px rgba(0,0,0,.2)!important
}

label.label.tc.border.btn.label-info.fl {
    margin: 4px!important;
    margin-top: -260px!important;
    margin-right: 15px!important;
    margin-bottom: -64px!important;
    margin-left: 3px!important;
    background-color: #1f1f1f!important;
    background: linear-gradient(369deg,#ffffff 0%,#ffffff 100%)!important;
    border-left: 3px #434343 solid!important;
    border-right: 3px #434343 solid!important;
    border-radius: 3px
}

label.label.tc.border.pmsg.btn.label-info.fl {
    margin: 4px!important;
    margin-top: 0!important;
    margin-right: 0!important;
    margin-bottom: 0!important;
    margin-left: 3px!important;
    background-color: #1f1f1f!important;
    background: linear-gradient(369deg,#f8f8ff 0%,#f8f8ff 100%)!important;
    border: 1px solid #e8e8e8!important;
    color: #000!important;
    border-radius: 0%
}

img.fitimg.fl.borderg.spic.corner.hand {
    width: 50px!important;
    height: 50px!important;
    margin: -78px!important;
    margin-top: -65px!important;
    margin-bottom: -42px!important;
    margin-left: 97px!important;
    border-radius: 25px 25px 25px 25px!important;
    border: 1px solid #c3c3c3!important
}

div.borderg.corner {
    margin-top: 140px!important
}

.fl.borderg.corner.uzr {
    margin-top: 1px!important
}

input.stopic.corner.dots,input.smsg.corner.dots {
    padding: 2px;
    border-right: 3px groove #434343;
    border-left: 3px groove #434343;
    border-top-color: #434343;
    border-bottom-color: #434343;
    min-height: 28px!important;
    text-align: center;
    width: 99%!important;
    border-radius: 3px!important
}

label.label.tc.border.redit.btn.label-info.fl {
    margin: 4px!important;
    margin-top: 3px!important;
    margin-right: 0!important;
    margin-bottom: 0!important;
    margin-left: 3px!important;
    background-color: #f8f8ff!important;
    background: linear-gradient(369deg,#f8f8ff 0%,#ffffff 100%)!important;
    border-color: #e8e8e8!important;
    color: #000!important;
    border-radius: 0;
    border-left: 1px #e8e8e8 solid!important;
    border-right: 1px #e8e8e8 solid!important
}

a.label.label-primary.fl img.fl {
    display: none
}

button.btn {
    padding: 1px 3px;
    margin-top: -4px
}

a.label.label-primary.fl {
    border-radius: 30px!important;
    padding: 5px!important;
    margin-bottom: 2px;
    background-image: radial-gradient(circle,#9e9e9e,#a5a5a5,#d4d4d4)!important;
    text-align: center!important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 -3px 1px -2px rgba(0,0,0,.2)!important
}
